/* LANDING PAGE/LOG IN PAGE STYLE*/
body {
  background-image: url('../Public/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.container {
  display: flex;
  min-height: 90vh; 
}

.holder-one {
  padding: 40px;
  margin: 100px 50px 0px 140px;
  text-align: center; 
}

.logo {
  width: 170px; 
  text-align: center; 
  height: auto;
  margin-bottom: 20px;
}

.form-control {
  border-radius: 0;
  margin-bottom: 15px;
}

.holder-two {
  margin-left: -50px;
}

.text-header {
  margin-top: 50px;
  font-size: 100px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

.text-hero {
  white-space: pre-line;
  margin-top: -30px;
  color: aliceblue;
  margin-left:12px;
}

.image-container {
  margin-left: 20px;
  margin-top: 6px; 
}

.image-container img {
  width: 600px; 
  height: auto; 
}

.btn-logIn {
  background-color: #0056b3;
  color: #e0fbfc;
  border: transparent;
}

.btn-logIn:hover {
  background-color: #00b4d8;
  color: #e0fbfc;
  text-shadow: 0 0 8px #fff;
  border: transparent;
}

.btn-link {
  color:white;
  margin-top:-30px;
  font-size: 14px;
}

.btn-link:hover {
  color:0056b3;
  margin-top:-30px;
  text-shadow: 0 0 8px #fff;
}
